<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background-color: #00233c; padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
       Análise de risco de crédito com Vantage
  <br>
       <img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>

# Caso de Uso  

## Descrição do caso

O caso que vamos analisar baseia-se num conjunto de dados públicos que podem ser encontrados em [Kaggle](https://www.kaggle.com/laotse/credit-risk-dataset?select=credit_risk_dataset.csv) e contém dados de 32.581 mutuários e 11 variáveis relacionadas a cada mutuário.  
Vamos ver quais são essas variáveis:  

* id: Identificador do cliente
* person_age - variável numérica; idade em anos
* person_income - variável numérica; renda anual em dólares
* person_home_ownership - variável categórica; "Aluguel", "hipoteca" ou "próprio"
* person_emp_length - variável numérica; tempo de trabalho em anos
* loan_intent: variável categórica; "educação", "medicina", "negócios", "melhorias residenciais", "pessoal" ou "consolidação de dívidas"
* loan_amt - variável numérica; valor do empréstimo em dólares
* loan_grade - variável categórica; "A", "B", "C", "D", "E", "F" ou "G"
* loan_int_rate - variável numérica; taxa de juros em porcentagem
* loan_percent_income - variável numérica; entre 0 e 1; relação entre empréstimo e renda
* loan_status: variável numérica binária; 0 ou 1 → esta será nossa variável alvo
* cb_person_default_on_file - variável binária e categórica; "Y" ou "N", marca se o cliente já esteve inadimplente
* cb_person_cred_hist_length: - variável numérica, histórico de crédito em anos

***

## Configurando a conexão entre Python e Teradata

### Carregamos as bibliotecas Python necessárias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.rcParams["figure.figsize"] = [7.50, 3.50]
plt.rcParams["figure.autolayout"] = True

import warnings
import getpass
import os
import random
warnings.filterwarnings('ignore')

In [2]:
#!pip install teradataml==17.20.0.7,

### Carregamos as bibliotecas Teradata necessárias

In [3]:
#Conexión con Vantage
from teradataml import create_context, DataFrame, get_context, copy_to_sql, in_schema, remove_context, display_analytic_functions

#Búsqueda de Hiperparámetros
from teradataml import RandomSearch

#Creación de modelo XGBoost
from teradataml import XGBoost, XGBoostPredict

#Evaluación de modelos
from teradataml import ClassificationEvaluator

### Conexão com Vantage

In [4]:
#con=create_context(host = '40.71.87.158', username='tdbacen', password = getpass.getpass())
con=create_context(host = '40.71.87.158', username='tdbacen', password = 'tdbacen',database='tdbacen')
get_context()

Engine(teradatasql://tdbacen:***@40.71.87.158?DATABASE=tdbacen)

***
# 5. Criação e validação um modelo XGBoost in-database  
  
Vamos realizar uma série de etapas para criar e validar o modelo:  
* Criação de amostras para treinamento e validação
* Procure os melhores hiperparâmetros para o modelo
* Criação de modelo
* Validação do modelo

## 5.1. Criação de amostras  
  
A partir do conjunto de dados final com os dados já curados que armazenamos nas etapas anteriores, vamos gerar uma marca aleatória para separá-lo em 3 amostras:  
  
* Uma amostra para criar o modelo
* Uma amostra para avaliar o modelo
* Uma amostra que simula um novo conjunto de dados para posteriormente aplicar o modelo em produção
  
Para criar as marcas aleatórias usaremos a função Vantage SQL chamada _SAMPLEID_.  
A função identifica a amostra à qual pertence uma linha, distinguindo linhas que pertencem a diferentes amostras especificadas na cláusula SAMPLE de uma instrução SELECT.

In [5]:
ads=DataFrame.from_query("SELECT a.*, SAMPLEID as sid"
                               " FROM (SELECT * FROM CreditRisk_dataset) a"
                               " SAMPLE RANDOMIZED ALLOCATION 0.2, 0.2, 0.6"
                           )

ads.head(5)

   cb_person_default_on_file_0  cb_person_default_on_file_1  cb_person_default_on_file_other  loan_grade_0  loan_grade_1  loan_grade_2  loan_grade_3  loan_grade_4  loan_grade_5  loan_grade_6  loan_grade_other  loan_intent_0  loan_intent_1  loan_intent_2  loan_intent_3  loan_intent_4  loan_intent_5  loan_intent_other  person_home_ownership_0  person_home_ownership_1  person_home_ownership_2  person_home_ownership_3  person_home_ownership_other     id  loan_status  cb_person_cred_hist_length  loan_amnt  loan_int_rate  loan_percent_income  person_age  person_emp_length  person_income  sid
0                            0                            1                                0             0             0             1             0             0             0             0                 0              0              1              0              0              0              0                  0                        0                        0                        0                        1                            0  28691            0                       1.035     -1.121          0.836               -1.313       0.514             -0.673          0.467    3
1                            0                            1                                0             0             0             0             0             1             0             0                 0              0              1              0              0              0              0                  0                        1                        0                        0                        0                            0   2038            0                      -0.692      0.381          1.678                2.152      -0.746             -0.673         -0.582    3
2                            0                            1                                0             0             0             0             0             0             1             0                 0              1              0              0              0              0              0                  0                        0                        0                        0                        1                            0    448            1                      -0.938      2.279         -3.398                0.654      -0.903              0.534          0.515    3
3                            0                            1                                0             0             0             1             0             0             0             0                 0              0              0              0              0              1              0                  0                        0                        0                        0                        1                            0    387            0                      -0.938      2.319          0.573                0.654      -0.746             -1.156          0.547    1
4                            0                            1                                0             0             0             1             0             0             0             0                 0              1              0              0              0              0              0                  0                        0                        0                        0                        1                            0  12867            0                      -0.938     -1.042          0.762               -0.938      -0.903              0.292         -0.385    3

### 5.1.1. Separação de amostras para treinamento e validação

In [6]:
ads_train=ads[ads["sid"]==1]
ads_test=ads[ads["sid"]==2]

### 5.1.2. Armazenamos a terceira amostra no Vantage para simular a pontuação

In [7]:
ads[ads["sid"]==3].drop(['loan_status','sid'], axis = 1).to_sql('CreditRisk_score', 
                                                           primary_index="id", 
                                                           if_exists="replace")

## 5.2. Criação de modelo  
  
Vamos dividir o processo de criação do modelo em quatro etapas:  
  
* Seleção das variáveis que participarão do modelo (alvo e preditores)
* Procure os melhores hiperparâmetros
* Criação do modelo final
* Validação do melhor modelo

### 5.2.1 Lista de variáveis

In [8]:
#Lista de variables para el análisis
lista01 = ads.columns
lista02 = [e for e in lista01 if e not in ['id', 'loan_status', 'sid']]
lista02

['cb_person_default_on_file_0',
 'cb_person_default_on_file_1',
 'cb_person_default_on_file_other',
 'loan_grade_0',
 'loan_grade_1',
 'loan_grade_2',
 'loan_grade_3',
 'loan_grade_4',
 'loan_grade_5',
 'loan_grade_6',
 'loan_grade_other',
 'loan_intent_0',
 'loan_intent_1',
 'loan_intent_2',
 'loan_intent_3',
 'loan_intent_4',
 'loan_intent_5',
 'loan_intent_other',
 'person_home_ownership_0',
 'person_home_ownership_1',
 'person_home_ownership_2',
 'person_home_ownership_3',
 'person_home_ownership_other',
 'cb_person_cred_hist_length',
 'loan_amnt',
 'loan_int_rate',
 'loan_percent_income',
 'person_age',
 'person_emp_length',
 'person_income']

### 5.2.2. Procuração dos melhores hiperparâmetros  
  
Usaremos a função _RandomSearch_ para realizar a pesquisa de hiperparâmetros.  
A função _RandomSearch_ é um algoritmo de pesquisa aleatória no espaço de parâmetros possíveis para identificar hiperparâmetros ideais.

In [9]:
# Definición de la grilla de búsqueda de hiperparámetros

XGB_params = {"input_columns":lista02,
              "response_column" : 'loan_status',
              "max_depth":tuple(random.randrange(3, 50) for i in range(10)),
              "lambda1" : tuple(round(random.uniform(0.001, 1.0), 3) for i in range(10)),
              "model_type" : "classification",
              "num_boosted_trees": 72,
              "shrinkage_factor":tuple(round(random.uniform(0.001, 1.0), 3) for i in range(10)),
              "iter_num":(50, 200, 500, 1000)}

In [10]:
# Argumentos requeridos para predicción y evaluación

eval_params = {"id_column": "id",
               "model_type": "classification",
               "accumulate": "loan_status",
               "object_order_column": ['task_index', 'tree_num', 'iter', 'class_num', 'tree_order']}

In [11]:
# Inicio de la búsqueda en grilla

rs_obj = RandomSearch(func=XGBoost, params=XGB_params, n_iter=4)

In [12]:
# Inicio de la optimización con RandomSearch

rs_obj.fit(data=ads_train,
           verbose=1, frac=0.85,
           **eval_params
            )

In [13]:
# Modelos entrenados

rs_obj.models

    MODEL_ID DATA_ID                                         PARAMETERS STATUS
0  XGBOOST_2    DF_0  {'input_columns': ['cb_person_default_on_file_...   FAIL
1  XGBOOST_3    DF_0  {'input_columns': ['cb_person_default_on_file_...   FAIL
2  XGBOOST_0    DF_0  {'input_columns': ['cb_person_default_on_file_...   FAIL
3  XGBOOST_1    DF_0  {'input_columns': ['cb_person_default_on_file_...   FAIL

In [14]:
rs_obj.get_error_log("XGBOOST_1")

"[Teradata][teradataml](TDML_2102) Failed to execute SQL: '[Version 17.20.0.16] [Session 54998] [Teradata Database] [Error 3707] Syntax error, expected something like ')' between the word 'TD_XGBoost' and '('.\n at gosqldriver/teradatasql.formatError ErrorUtil.go:89\n at gosqldriver/teradatasql.(*teradataConnection).formatDatabaseError ErrorUtil.go:217\n at gosqldriver/teradatasql.(*teradataConnection).makeChainedDatabaseError ErrorUtil.go:233\n at gosqldriver/teradatasql.(*teradataConnection).processErrorParcel TeradataConnection.go:814\n at gosqldriver/teradatasql.(*TeradataRows).processResponseBundle TeradataRows.go:2284\n at gosqldriver/teradatasql.(*TeradataRows).executeSQLRequest TeradataRows.go:851\n at gosqldriver/teradatasql.newTeradataRows TeradataRows.go:708\n at gosqldriver/teradatasql.(*teradataStatement).QueryContext TeradataStatement.go:122\n at gosqldriver/teradatasql.(*teradataConnection).QueryContext TeradataConnection.go:1318\n at database/sql.ctxDriverQuery ctxutil.go:48\n at database/sql.(*DB).queryDC.func1 sql.go:1757\n at database/sql.withLock sql.go:3439\n at database/sql.(*DB).queryDC sql.go:1752\n at database/sql.(*Conn).QueryContext sql.go:2011\n at main.goCreateRows goside.go:775\n at _cgoexp_8a9f105fcb3b_goCreateRows _cgo_gotypes.go:387\n at runtime.cgocallbackg1 cgocall.go:316\n at runtime.cgocallbackg cgocall.go:235\n at runtime.cgocallback asm_amd64.s:994\n at runtime.goexit asm_amd64.s:1594'"

In [15]:
# Estadísticas de los modelos entrenados

rs_obj.model_stats

    MODEL_ID
0  XGBOOST_2
1  XGBOOST_3
2  XGBOOST_0
3  XGBOOST_1

In [16]:
# Id del mejor modelo

rs_obj.best_model_id

In [17]:
# Score del mejor modelo

rs_obj.best_score_

In [18]:
# Hiperparámetros del mejor modelo

rs_obj.best_params_

## 5.3. Criação do modelo XGBoost com os melhores hiperparâmetros

In [19]:
XGBoost_model = XGBoost(data=ads_train,
                        input_columns=lista02,
                        response_column = 'loan_status',
                        max_depth=4,
                        lambda1 = 0.306,
                        model_type='classification',
                        shrinkage_factor=0.928,
                        num_boosted_tres=72,
                        iter_num=50)

TeradataMlException: [Teradata][teradataml](TDML_2102) Failed to execute SQL: '[Version 17.20.0.16] [Session 54998] [Teradata Database] [Error 3707] Syntax error, expected something like ')' between the word 'TD_XGBoost' and '('.
 at gosqldriver/teradatasql.formatError ErrorUtil.go:89
 at gosqldriver/teradatasql.(*teradataConnection).formatDatabaseError ErrorUtil.go:217
 at gosqldriver/teradatasql.(*teradataConnection).makeChainedDatabaseError ErrorUtil.go:233
 at gosqldriver/teradatasql.(*teradataConnection).processErrorParcel TeradataConnection.go:814
 at gosqldriver/teradatasql.(*TeradataRows).processResponseBundle TeradataRows.go:2284
 at gosqldriver/teradatasql.(*TeradataRows).executeSQLRequest TeradataRows.go:851
 at gosqldriver/teradatasql.newTeradataRows TeradataRows.go:708
 at gosqldriver/teradatasql.(*teradataStatement).QueryContext TeradataStatement.go:122
 at gosqldriver/teradatasql.(*teradataConnection).QueryContext TeradataConnection.go:1318
 at database/sql.ctxDriverQuery ctxutil.go:48
 at database/sql.(*DB).queryDC.func1 sql.go:1757
 at database/sql.withLock sql.go:3439
 at database/sql.(*DB).queryDC sql.go:1752
 at database/sql.(*Conn).QueryContext sql.go:2011
 at main.goCreateRows goside.go:775
 at _cgoexp_8a9f105fcb3b_goCreateRows _cgo_gotypes.go:387
 at runtime.cgocallbackg1 cgocall.go:316
 at runtime.cgocallbackg cgocall.go:235
 at runtime.cgocallback asm_amd64.s:994
 at runtime.goexit asm_amd64.s:1594'

In [ ]:
XGBoost_model.result.head(1)

In [ ]:
XGBoost_model.output_data

### 5.3.1. Aplicar o modelo na amostra de avaliação  
  
Usaremos a função _XGBoostPredict()_ para aplicar nosso modelo recém-criado à amostra de avaliação

In [ ]:
XGBoost_predict = XGBoostPredict(newdata=ads_test,
                                 object=XGBoost_model.result,
                                 id_column='id',
                                 model_type='Classification',
                                 num_boosted_trees=72,
                                 iter_num=50,
                                 output_prob=True,
                                 output_responses=['0', '1'],
                                 object_order_column=['task_index', 'tree_num', 'iter','class_num', 'tree_order'],
                                 accumulate = "loan_status")

In [ ]:
XGBoost_predict.result

### 5.3.2. Avaliação do modelo  
  
A função _ClassificationEvaluator()_ fornece informações detalhadas sobre o ajuste do modelo

In [ ]:
Evaluator_obj = ClassificationEvaluator(data=XGBoost_predict.result,
                                        observation_column='loan_status',
                                        prediction_column='Prediction',
                                        labels=['0', '1'])

In [ ]:
Evaluator_obj.result

In [ ]:
Evaluator_obj.output_data

### 5.3.3. Armazenamos o modelo no Vantage  
  
Para utilizar o modelo com novos dados vamos armazená-los como uma tabela no Vantage

In [ ]:
XGBoost_model.result.to_sql('CreditRiskXGB_model', primary_index="task_index", if_exists="replace")

***
# 5.4. Execução do modelo in-database em produção  
  
Para executar nosso modelo em um ambiente produtivo, precisamos:  
* Recuperar o modelo armazenado
* Carregue os dados nos quais deseja aplicar o modelo
* Use a função de previsão correspondente

## 5.4.1. Recuperação de modelo

In [ ]:
modeldf = DataFrame.from_query("SELECT * FROM CreditRiskXGB_model", index_label=None)

## 5.4.2. Dados de pontuação

In [ ]:
newdf = DataFrame.from_query("SELECT * FROM CreditRisk_score", index_label=None)

## 5.4.3. Aplicação de modelo

In [ ]:
Scored_df = XGBoostPredict(newdata=newdf,
                           object=modeldf,
                           id_column='id',
                           model_type='Classification',
                           num_boosted_trees=72,
                           iter_num=50,
                           output_prob=True,
                           output_responses=['0', '1'],
                           object_order_column=['task_index', 'tree_num', 'iter','class_num', 'tree_order'])

In [ ]:
Scored_df.result.head()

***
# Desconectando do Vantage  
  
O código a seguir limpará as tabelas temporárias criadas durante a sessão de trabalho.

In [ ]:
remove_context()

<footer style="padding:10px;background:#f9f9f9;border-bottom:3px solid #394851">©2024 Teradata. All Rights Reserved</footer>  
<img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">